[samrapdev]
0.0.0.0

[samrapdev:vars]
ansible_python_interpreter=/usr/bin/python3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SYSTOOLS_BACKUPS_S3_ENDPOINT=https://sfo2.digitaloceanspaces.com
SYSTOOLS_BACKUPS_S3_REGION=sfo2
SYSTOOLS_BACKUPS_S3_BUCKET=
